// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.talking-mango {
  overflow:auto;

  .block{
    float:left;
    clear:left;
    margin-bottom:5px;
    padding-left:10px;
    padding-right:10px;
    overflow:auto;
    width:100%;

    p{
      margin:5px;
      float:left;
    }
  }

  .mic-button{
    float:right;
    margin-right:10px;
  }
}
